[submodule "site/themes/hugo-book"]
	path = site/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "site/themes/blackburn"]
	path = site/themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
