{% extends "base.html" %}

{% block content %}
    <div class="about">
	    I'm Eric Perko, a graduate student at <a href="http://cwru.edu">Case Western Reserve University</a> working on an M.S. in Computer Science. I've been focusing my degree on robotics and artificial intelligence and am finishing up an MS thesis that addresses precision navigation for a robotic wheelchair. As part of that work, I've been leveraging the <a href="http://ros.org">Robot Operating System</a> as well as contributing open source code to the ROS community. I am currently the maintainer of the <a href="https://github.com/cwru-robotics/cwru-ros-pkg">cwru-ros-pkg</a>, which contains all code in use on robots in the Mobile Robotics Lab at CWRU.
    </div>
{% endblock %}
