body {
    background: #f5f5f5 no-repeat center top;
}
h1#title {
    color: #888;
    text-align: left;
    margin: 1em auto 0 auto;
    letter-spacing: 4px;
    font-size: 300%;
}
h1#title a {
    color: #555;
    text-decoration: none;
}
h1#title a:hover {
    text-decoration: none;
}

#footer {
    text-align: right;
}
#content img {
    float: right;
    border: 1px solid #aaa;
    margin-left: 1em;
}
#content img.noborder {
    border: none;
}
a {
    color: #555;
    text-decoration: underline;
}
a:hover {
    color: #008;
}
a:visited {
    color: #888;
}
#sidebar {
/*    text-align: right;*/
}
#sidebar a {
    color: #555;
    text-decoration: none;
}
#sidebar a:visited {
    color: #888;
}
#sidebar ul {
    margin-left: 0;
    margin-right: 0;
	padding-left: 0;
}
#sidebar li {
    list-style: none;
	margin-left: 0;
	padding-left: 0;
}
hr.space {
    display: none;
}
ul.recent_post_titles {
    font-size: 1.2em;
    margin-left: 0;
}
ul.recent_post_titles li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}
ul.recent_commits {
    margin-left: 0;
    margin-bottom: 0;
}
ul.recent_commits li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}
#content .about {
    font-size: 1.2em;
    padding: 1em;
    background-color: #ffd362;
    margin-bottom: 1em;
}
#content .about .underline {
    text-decoration: underline;
}
#content .about a {
    color: #800;
}
